@import "./breakpoint.scss";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&family=Work+Sans:ital,wght@0,200;0,400;0,500;0,700;1,200&display=swap");
.top-section {
  padding-top: 3rem;
  padding-bottom: 2rem;
  .top-image {
    img {
      object-fit: cover;
    }
  }

  .top-input {
    position: relative;
    .top-input-search {
      width: 100%;
    }

    .top-span {
      position: absolute;
      right: 5px;
      top: 2px;
    }
  }
  .top-icon {
    .top-span {
      color: #4d4d4d;
      font-family: Roboto;
      font-size: 0.9375rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.01875rem;
      margin-left: 3rem;
    }
  }
  .top-social-icon {
    i {
      margin-left: 1.5rem;
    }
  }
}

.nav-section {
  #navbarNav {
    justify-content: center;
    .navbar-nav {
      li {
        color: #4d4d4d;
        font-family: Roboto;
        font-size: 0.9375rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.01875rem;
      }
    }
  }
}
.first-section {
  background-color: #b9c2d94d;

  .first-section-text {
    height: 4.1875rem;
    span {
      margin-left: 1rem;
    }
  }
}
.second-section {
  background-image: url("./image 7.png");
  height: 48.75rem;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  position: relative;

  .second-section-text {
    background-color: #787878;
    width: 379px;
    padding: 60px;
    opacity: 0.8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h1 {
      color: #d9c9b9;
      font-family: Roboto;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 62.5% */
      letter-spacing: -0.48px;
    }
    h2 {
      color: #d9c9b9;
      font-family: Bebas Neue;
      font-size: 72px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
    }
    h3 {
      color: #d9c9b9;
      font-family: Bebas Neue;
      font-size: 45px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -0.675px;
      text-transform: uppercase;
    }
    button {
      border-radius: 10px;
      background-color: #b9c2d9;
      color: #202020;
      font-family: Roboto;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 142.857% */
      letter-spacing: 0.14px;
      padding: 0.5rem;
      border: none;
    }
  }
}
.third-section {
  margin-top: 3rem;
  .container {
    color: #202020;
    font-family: Bebas Neue;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.51px;
    text-transform: uppercase;
  }
}
.fourth-section {
  margin-top: 2rem;
  .fourth-section-img {
    position: relative;
  }
  span {
    color: #fff;
    font-family: Bebas Neue;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.75px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.slide-section {
  background-color: rgba(243, 243, 243, 1);
  padding-bottom: 3rem;
  position: relative;
  margin-top: 3rem;
  .slide-section-row{
    padding-top: 4rem;
    .rec-arrow-left{
      
      position: absolute;
      bottom:-10px
    }
  }
  
   
 
  
  .slide-section-text {
    color: #202020;
    font-family: Bebas Neue;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 63px; /* 126% */
    letter-spacing: -0.75px;
    text-transform: uppercase;
  }
  .slide-section-image {
    p {
      color: #202020;
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 125% */
      letter-spacing: 0.16px;
    }
    h5 {
      color: #7d7d7d;
      font-family: Roboto;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 142.857% */
      text-transform: uppercase;
    }
    h6 {
      color: #202020;
      font-family: Roboto;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 100% */
    }
    button {
      background-color: rgba(185, 194, 217, 1);
      color: #202020;
      font-family: Roboto;
      font-size: 17px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 117.647% */
      letter-spacing: 0.17px;
      padding: 0.5rem;
      border: none;
      border-radius: 10px;
      width: 100%;
    }
  }
}

@include respond(mobile-M) {
  .top-section {
    .top-social-icon {
      display: none;
    }
  }
}

@include respond(mobile-L) {
  .top-image {
    img {
      object-fit: cover;
      width: 100%;
    }
    .top-section {
      .top-social-icon {
        display: none;
      }
    }
  }
  .top-section {
    .top-social-icon {
      display: none;
    }
  }
}
.first-section {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

@include respond(tablet) {
  .top-section {
    .top-icon {
      margin-top: 1.5rem;
      text-align: center;
      span {
        margin-left: 2rem !important;
      }
    }
    .top-social-icon {
      margin-top: 1.5rem;
      text-align: center;
      i {
        margin-left: 2rem !important;
      }
    }
  }
}

@include respond(laptop) {
  .top-section {
    .top-icon {
      .top-span {
        margin-left: 0.5rem;
      }
    }
    .top-social-icon {
      i {
        margin-left: 0.7rem;
      }
    }
  }
}
